In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import ElasticNet, LinearRegression
from sklearn.metrics import mean_squared_log_error

In [2]:
train = pd.read_csv('Housing Dreams/house_train_raw.csv')
test = pd.read_csv('Housing Dreams/houses_test_raw.csv')
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

EDA

In [3]:
# count null values
train_null = train.isnull().sum()
print(train_null[train_null > 0])

LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [4]:
# drop columns with most null values
train = train.drop(['Id','Alley','FireplaceQu','PoolQC','Fence','MiscFeature'], axis=1)

In [5]:
# save category features
category_features = []
for col in train.columns:
  if train[col].dtypes=='object':
    category_features.append(col)
print(category_features)

['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'SaleType', 'SaleCondition']

In [6]:
# convert categoric to numeric 
train_dummies = pd.get_dummies(train, columns = category_features, drop_first = False)
train_dummies.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,1,0,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,1,0,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,1,0,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,1,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,1,0,0,0,0,1,0

In [7]:
# drop categoric 
train = train.drop(category_features, axis=1)

In [8]:
# concatenate original dataset with dummies
train_new = pd.concat([train, train_dummies])
train_new.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Model

In [9]:
# set x and y values for the model
x = train_new.drop('SalePrice',axis=1)
y = train_new['SalePrice']

In [10]:
# impute null values
imputer = SimpleImputer()
x_imp = imputer.fit_transform(x)
print(x_imp)

[[6.00000000e+01 6.50000000e+01 8.45000000e+03 ... 1.36986301e-02
  8.20547945e-01 8.56164384e-02]
 [2.00000000e+01 8.00000000e+01 9.60000000e+03 ... 1.36986301e-02
  8.20547945e-01 8.56164384e-02]
 [6.00000000e+01 6.80000000e+01 1.12500000e+04 ... 1.36986301e-02
  8.20547945e-01 8.56164384e-02]
 ...
 [7.00000000e+01 6.60000000e+01 9.04200000e+03 ... 0.00000000e+00
  1.00000000e+00 0.00000000e+00]
 [2.00000000e+01 6.80000000e+01 9.71700000e+03 ... 0.00000000e+00
  1.00000000e+00 0.00000000e+00]
 [2.00000000e+01 7.50000000e+01 9.93700000e+03 ... 0.00000000e+00
  1.00000000e+00 0.00000000e+00]]

In [11]:
# standardization 
scaler = StandardScaler()
x_imp_stdz = scaler.fit_transform(x_imp)
print(x_imp_stdz)

[[ 0.07337496 -0.22937175 -0.20714171 ...  0.          0.
   0.        ]
 [-0.87256276  0.4519361  -0.09188637 ...  0.          0.
   0.        ]
 [ 0.07337496 -0.09311018  0.07347998 ...  0.          0.
   0.        ]
 ...
 [ 0.30985939 -0.18395123 -0.14781027 ... -0.16666667  0.66135895
  -0.43274232]
 [-0.87256276 -0.09311018 -0.08016039 ... -0.16666667  0.66135895
  -0.43274232]
 [-0.87256276  0.22483348 -0.05811155 ... -0.16666667  0.66135895
  -0.43274232]]

In [12]:
# split test and train 
x_train, x_test, y_train, y_test = train_test_split(x_imp_stdz, y, test_size=0.3, random_state=0)

In [13]:
# create and train the model
model = ElasticNet()
model.fit(x_train, y_train)

ElasticNet()

In [14]:
# predict train dataset 
predict_train = model.predict(x_train)
print(predict_train)

[123153.22110815 135162.25203879 193523.15877203 ... 149240.17299553
 166642.71346778 131255.41077152]

In [15]:
# predict test dataset
predict_test = model.predict(x_test)
print(predict_test)

[171996.5220812   96208.06779695 101874.98719282 290282.86315194
 246574.92886177 125948.9141133  122039.73756436 157850.40500984
 213096.97382937 151318.62031051 113286.74321327 113364.31257909
 153751.52670938 201281.03520959 180253.74069717 166797.92764895
 127997.34237792 146354.1796567  150698.30153028 138576.27185269
 177145.90645159  98739.53067039  90557.09958192 193711.33230722
 210834.59040864 123778.94517573 211214.87344682 151553.35616863
 358390.37757677 280236.13092192 146229.71932299 123230.53804899
 166109.83536937  97084.08963788 121257.88793375 138128.03331211
 154587.40282965 227235.80165812 192793.83131339 216882.58748491
 187851.547617   119565.88828829 214988.83478521 234209.96359098
 209330.77314672 135691.05145877 245359.24848971 184207.02761817
 159442.22936816 168591.04020453 255074.62773102 132603.42793609
 137129.13800246 272722.63043029 212849.24310256 156856.14301382
 185666.19898848 182533.75303428 179190.85053826 123486.97204442
 134454.51785765 150372.72960466  87122.1699461  164152.73217948
  60299.08235558 206841.70325993 136788.34576523 173780.09790735
 152859.57059864 139774.26159642 110207.54277465 132790.58390276
 120214.53896509 143318.61588025 129699.97143661 274541.65489414
 112189.25889499 123836.60321173 170508.28836316 214500.46358007
 175771.87673771 120583.93132535  89921.62951371 226339.34262248
 100814.43130171 140200.70419456 173606.11880438 192705.91081307
 182136.21215503 317817.73940586  75503.87324499 275773.70927948
 113944.44696387 164776.07177936 142734.93200385 109176.77438655
 186353.80759317 207847.30349615 154539.11148604 168828.12625067
 163396.92189938 353252.27978848 254741.68854753 196839.58009839
 110452.21426015  76301.72112953 136311.28998948 204752.73761291
 160231.25207706 207923.26203594 254403.81113113 196860.13839666
 205448.91102676 130311.96861515 115981.83285038 310529.50275099
 184390.72744018 261876.02697744  37067.47360742 220113.27470954
  96775.91352893 244020.04857965  97121.4435087   81702.32205264
 161860.21342543 195294.03118951 255399.26548898  83276.2068241
 338777.34410594 235936.93123358 188025.50912195 122753.32492722
 116008.53596696 133901.04766669 240462.89736287 193055.73747368
 131599.18996969 257283.06560566 134678.18011641 250467.72384796
 231964.47116032 184167.34504317 153265.68161371 128628.03688028
 208978.79238408 156765.05752713 180836.82217743 135714.52763
 101304.20783961 169979.15105849 127167.40797506 137270.83844455
  90370.47217889 238307.3635431  130766.97180511 126730.68846378
 119222.35938731 228129.7448287  153298.05105412 197167.55018509
 157398.13929342 172142.46004985  34887.23962716 167639.49360375
 261526.02048695 228762.16395949 211799.14883099 189272.30537044
 308197.45258988 154859.45063539 305066.64612185 194536.21563118
 193213.29783271 102559.19423478 148752.575602   250148.48009784
 251833.37406501 256357.9058963  139303.21894803 123198.34306021
 239746.64533996 163874.56130781 229024.81977867 108179.15391731
 118783.82660485 209595.29052611 113239.25904036 218904.63917025
 112099.0313803  108436.36912279 132480.28401851 185835.08906526
 210140.95573651 182737.3016409  138721.8560056  206991.24560966
 121210.99696239 217158.52018212 155398.51524129 181461.36734996
 148351.34845921 166234.83330323 231021.608181   218599.49191803
 129736.49714683 198931.49079861 341665.01222498 124748.43334306
 200873.50137879 224114.56745149 252148.17829938 206522.398273
 390688.38296728 218191.42779527 299100.27840709 272785.11428584
 213848.82072063 162041.92857072 154350.11734617 338483.80276085
 159555.94067007 194464.29939788 108874.30754748 373541.48030081
 139338.28301763  98281.43844518 289733.51277238 187522.64424302
 211483.97874534  97560.39422068 156416.70038218 286461.72315932
 150740.05829507 136105.84316216 204217.3419599  237041.69533981
 200712.48215573 141161.19070687 173145.15732775 326505.34597088
 133555.7815827  171975.26052308 235638.13884183 183165.5544653
 189476.65869802 136751.12383457 208105.17975756 177505.95173195
 317629.08768083 200413.50522194 109439.55540451 133543.4635274
 204512.8681944  204593.5966952  152372.40228567 243803.73336856
 104705.21931674 303580.1215591  269406.27682583 191806.14940404
 346463.24799104 210283.01073842 246558.16838277  92854.71674318
 170008.51163954 151504.95574983 118501.88942219 198266.78187841
 148560.35652977 110326.18341194 122531.30145834  86403.94586791
 204433.10131725 273676.78302118 184157.45762858 131337.46711225
 120373.46810834 134094.58976497 204736.77327037 257164.57014495
 189480.79275222 247308.73006884 131747.64417412 149956.40915877
 728615.15198568 234234.97900686  60032.39843363 196817.03426992
 146662.05214878 142259.31516986 110786.53070087 197674.81476713
 171308.32899793 283656.2256422  273779.67313916 113771.39960869
 126497.92558403 156406.01225092  87402.06912853 304961.63163528
 146461.18960371 162897.56556605 210210.40541801 200872.24846672
 203185.40192121 160895.86589408 320386.81629192 225591.59775003
 190080.64746359 236136.9855399  213776.06537435 405012.42137982
 210711.80583202 117245.00781298 149077.84376516 177518.99611653
 132470.03554962 199735.02172498 214365.40663722 144711.46562303
 289794.71711838 198101.97601352 163092.70479128 156335.52073515
  81366.15415452 200418.72878186 246949.07478069 183021.71134309
 211696.71985912 125485.43763227 207487.25461169 119881.87613228
 285721.07543089  91572.37253676 129053.27617511 167875.19772221
 306514.39108827 192115.70067051 216452.50530957 118612.82916211
 206138.81302463 232601.87640185 178238.20042348 153172.43287435
  83695.04157238 209623.89402863 217866.10018269 316729.50060914
 134322.95060316 238675.58864454 127783.25877108 126494.45748639
 187521.65941672  78973.88675503 117903.51419677 309809.54673032
 125993.28563931 166271.6985581  161653.78075329 133487.52678033
 261195.97607002 120813.5255106   79626.91249257 147850.11702882
 334851.97139533 132130.20727943 283625.62243391 169054.05990767
 288216.66921151 123106.33229253 257518.35572561  99448.01658361
 255648.40290858 166906.49359869 144154.66944444 228034.33546189
 149667.36531817 222231.4587368  187482.75021276 146777.54288098
 290654.29976827  73341.49162187 139020.28310362 128071.13758176
 152620.87051051 180952.98474066 106653.90340953 140373.143832
 202250.14652935 136415.12810687 196429.77879265 242924.95807888
  81250.48191038 248464.82483685 172876.68816389 207287.01791461
 241449.49195646 229374.92120472 164744.81186632 172719.8183132
  74986.22331865 201046.87614854 179093.45066844 326307.95637981
 272025.47640739 138633.8226009  243675.78267375 190571.74150911
  56714.68615403 185992.51543739 139358.20210284 182357.92366316
 122754.67792722 123484.70882946 147045.63560467 234367.24104742
 126908.63917499 153963.92374328 193088.10591898 129401.21205852
 164619.60521597 177871.14611578 116141.02503883  98664.10507473
 159934.78171929 293435.28078528 196834.35321336 229602.35264081
 338053.73584813 300242.16827404 103455.05775651 203253.78831297
 227764.44129276 289554.44739586 210086.97566636 126707.43227059
 240060.24504261 100464.06661527  99498.45134451 154293.42558154
 207209.84977795 192621.38245816 123043.30033021  87676.78581678
  83566.12863779 139448.71140385  93362.27657051 141062.03498058
 222111.6831787  107768.69661033 163428.09675251 203493.78844508
 282422.6001062  202317.4052698  202071.41839599 183831.38821041
 164697.73143186 178317.63805441 200463.22799062 240168.04363231
 124329.03148563  90841.35686071 230005.61063571 177532.92358791
 106810.11753913 120627.46013263 356842.87392924 229629.39205043
 165786.5168613  126265.83509896 131485.22736382 182267.51316503
 129946.20594992 147346.0269263   84725.77989779 202703.07119287
 210722.80771512 100085.7023579   88492.07765646 175330.24992562
 125372.70624285 204204.44005279 136505.58269818 227976.53233339
 193647.60764224 344456.51355525 130152.17006597 151773.30293624
 176456.48055495 171986.28553671 138385.41758384 238640.03153483
 141021.93319809 200541.51712807 216130.19880872 123694.52844393
 147776.58758317 162586.09533391 135054.03356368 175970.44735913
 191593.98285911 172395.82511719 323257.18850462 146850.93147789
 177922.34752402 182252.9217064  218699.1612483   85765.64108219
 219477.92314771 142610.23416986 165641.32067763 133068.07314455
 175184.58508949 106081.85076659 178978.14943141 150072.71374536
 288556.04496275 178185.93838941 112801.69752236 147303.83528772
 323929.76422318 145685.93790153 141888.68833314 208886.38404098
 255601.67333041 221787.38063923 242748.00288896 148616.55447571
 192044.83612332 241342.29133526 119989.47513089 214284.25198249
 139997.8543063  154812.7060524  143229.54485625 131213.68618667
 198976.5384173  146089.98631672 184351.21602351 211499.03046161
 195645.07152936 243287.25634444 306124.67526664 188395.88094561
 181073.17229959 255853.47516973 231386.70533026 168507.83066582
  85832.75300771 205976.42885607 269764.8288556  133545.1210661
  84402.2251941  186941.67639884 241335.15955633 225280.24081678
 160702.66506069 199523.82217156 101074.5838869  156045.42206828
 247093.57150481 135215.99197797 117566.00097032 116109.41786608
 149494.38730037 204969.74671722 221706.42437803  92461.50092004
 265426.03442704 312685.1160643  215739.75431789 274834.01789583
 244225.80481978 129390.75885645 166983.66918244 120151.08809379
 126168.84026488 216379.38883589 211544.24702988 205149.94182149
 134697.9433989  254454.66507201 243711.37132349 179627.14069863
 233609.95924562 359839.47747959 160253.93862721 179074.33226928
 267222.98596603 102217.50148831 166656.71997113 167501.80289979
 171645.61168214 163044.75579615 228040.32492981 155251.43205183
 164831.29373597 175565.92441799 214171.08186897 117780.78416447
  99499.98470624 121231.68298672 202254.52989707 166717.62990339
 314104.34961073 178667.23134024 155319.06628112 162904.82195096
 127440.96228306 215392.17099073 196031.54843493 182558.05587145
 151805.05919635 203618.97814518 238602.06070847 123075.18610821
 126414.66455652 231646.47938286 215235.64840717 234067.55865126
 190711.07356983 151484.47319995 162254.78352503 143649.10569978
 142950.11491557 281585.48602636 184025.58045425 176720.66494143
 191106.54061637 192199.88534478 232448.56508569 157465.35300667
 199971.00023449 190060.77983226 102271.64926824 202593.11267057
 202768.24167914 132436.59711684 106876.52274325 225468.93174834
 128450.01258269 243114.46848561 390106.32619084 111623.49864034
 293148.26799963 218364.26488907 192522.57591535 199841.01474282
 203655.65502669 156185.70776274 358913.5163548  194888.14354588
 254512.31874631  79462.10311599 261876.43289941 195871.95816421
 149815.15717439 101707.12719978 192443.18050944 219123.86935601
 117003.95956452 300664.55915674 202806.34646459 155148.60227901
 180986.59165023 182367.89383746  70914.10917769 244022.46903335
 195209.28587376 298010.12022301 102180.66930738 163794.9697658
 350394.44988203 216376.4194713  153601.39028475 303326.04190001
 152050.99581424 224058.61881579 127316.74937858 321506.4058818
 161478.34320265 160674.89646805  91397.9354201  358762.95378703
 173947.3410035  208026.23646746 324775.55604615 222233.39216817
 231540.21908446 211802.62017713 276807.71373898 120445.39560235
 203772.98494098 224947.59001433 295088.15264743 116013.39228923
 104968.28708417 145892.05445428 163554.64107937 150280.16467922
 305860.30231065 124373.05569421 151792.5387736  187903.12667388
 126668.67150969  65080.7750084  237681.01830279 112710.45178754
 164125.66561869 286491.17631727 205526.24637443 150489.2537444
 199127.32757626 165662.03252122 225709.49139615 279990.90708933
  62162.45853219 101105.01566751 225421.11733585 270196.51133894
 153511.96795647 163210.44775609 276261.0912238  126948.02918983
 126047.83532538 192978.77147521 194160.48968437 250749.14161005
 125988.91322737 166990.56603099 334389.06924327  85165.40499748
 238870.76863412 181778.02733878 138806.10017925  81949.78047242
 120005.00677837 293724.18768576 366947.43636786 294641.06505674
 259989.83915415 141761.90873284 126394.40730375  67442.25972695
  94157.75517419 132761.63561882 164838.44596876 158152.8262231
 219421.19369943 186843.66563817 234502.03529263  81206.18238719
 108244.22101826 193701.4463885  219351.29029983 192445.229955
 231240.90871723 258984.6352597  164303.91047243 362067.16260099
  43827.54450276 133557.56447847 176275.25570837 239844.86367251
 234039.61691566  77567.81795429 208206.32495953 131510.00627776
  98754.0151489   93783.94482412 136229.48632602 148158.73240151
 110285.48438809 273318.08720578 190161.46242724 547043.27769207
 259427.04183577 175737.95451255 145967.53501116 131144.46216872
 302947.59293952 154012.12594603 230549.21000624 132951.27516294
 284116.29172092 179378.42291687 216458.44050092 447069.93884029
 271164.46300578 118321.9557722  156774.89546063 338044.08315472
 208039.77319678 124981.57628663 159337.37596776 158488.1377558
 199987.52399038 189659.61596064 157647.26562941 205314.37369409
  98924.84223102 184306.44571573  71477.90981865 130504.04105942
 133288.44715587 158238.85945406 151606.9827431  168351.67130347
 168081.00649462 182280.73383106 219859.25601179 218187.99578403
 336074.89626754 115658.29173703 154738.05733535  98981.13927574
 240646.31774321 209708.98228692 188275.73551614 119319.06201998
 134593.59159633 149402.24307556 398043.85478264 127685.15468839
 209048.5393916  117428.83950742 129773.35809789 195626.78424399
 309103.86517978 356181.05347291 333256.13497525 138684.07741901
 313333.11366837 307705.01300931 180158.09370217 176695.90280456
 246980.7977253   75240.60616669 106219.73513499 313249.87470456
 258604.67962037 269203.61094896  81393.33962836 136766.96942022
 181938.79476874 199500.99741555  94663.98577325 175351.74073091
 250141.93284456 218463.9319827  198538.25183928 142176.39757494
 320159.04716456 219575.50462092 330310.48020781 211069.3785492
 148498.06628184 109026.10425828 346686.25662804 107972.59028527
 112638.84266418 119828.14923632 169873.34368928 209126.80612965
 142857.45014155 188682.49075079 123394.08181487 289788.08356306
 108627.09456102  96936.56087833 252817.59646091 147300.43938826
 115227.56727536  89606.7724922  152077.49024901  63127.08615697]

Model Evaluation

In [16]:
# RMSLE 
rmsle = mean_squared_log_error(y_test, predict_test, squared=False)
print('RMSLE: ' + str(round(rmsle,2)))

RMSLE: 0.16